name: unix-cmake

on:
  push:
    paths:
      - "**.f90"
      - "**.F90"
      - "**.cmake"
      - "**/CMakeLists.txt"
      - ".github/workflows/unix-cmake.yml"


jobs:

  linux:
    name: CMake build on Linux
    timeout-minutes: 15
    runs-on: ubuntu-latest

    strategy:
      matrix:
        mpi: [openmpi]
# For some reason, mpich GitHub Actions MPIEXEC only
# uses one CPU for MPICH

    steps:
    - uses: actions/checkout@v4

    - name: install prereqs (linux)
      if: runner.os == 'Linux'
      run: sudo apt install --no-install-recommends lib${{ matrix.mpi }}-dev

    - name: install prereqs (mac)
      if: runner.os == 'macOS'
      run: brew install ${{ matrix.mpi }}

    - run: cmake --workflow --preset debug

    - run: cmake --workflow --preset release
